# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion settings
.idea

# Framework(Just add cocos2d folder at project root folder
cocos2d/

#Visual Paradigm rubbish
*.vpp.lck
*.vpp.bak*

#Vim tmp
*.cpp.sw*
