<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cellbg</key>
            <dict>
                <key>frame</key>
                <string>{{136,193},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cursor</key>
            <dict>
                <key>frame</key>
                <string>{{82,328},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>health_potion</key>
            <dict>
                <key>frame</key>
                <string>{{84,186},{50,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,140}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>horn_and_hooves</key>
            <dict>
                <key>frame</key>
                <string>{{1,186},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{81,119}</string>
            </dict>
            <key>key</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>menubutton</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{190,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,49}}</string>
                <key>sourceSize</key>
                <string>{190,49}</string>
            </dict>
            <key>menubutton_pressed</key>
            <dict>
                <key>frame</key>
                <string>{{193,1},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>speed_potion</key>
            <dict>
                <key>frame</key>
                <string>{{136,295},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>sword</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{92,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,132}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>torch</key>
            <dict>
                <key>frame</key>
                <string>{{95,52},{93,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,117}}</string>
                <key>sourceSize</key>
                <string>{93,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Resources.png</string>
            <key>size</key>
            <string>{239,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d10055456bb793f47510aaf29d51bb55:9e15df096d008a11b254af885d2154a1:470d3338ffa55628397ee9fde2052b84$</string>
            <key>textureFileName</key>
            <string>Resources.png</string>
        </dict>
    </dict>
</plist>
